.navigation {
    // background-color: black;
    // color: whitesmoke;
    text-decoration: none;
    margin-right: 15px;
    // height: 10%;
}

// span { 
//     text-decoration: none;
//     // color: whitesmoke;
// }

.navigation:active, .navigation:hover {
    color: gray;
}